<div
    class='flex flex-col basis-2/5 gap-4 px-5 md:px-10 py-4 md:py-8 border border-fuchsia-400/60 bg-fuchsia-400/5 rounded-md'
>
    <h2 class='font-general font-semibold text-fuchsia-400 text-4xl'>Catk</h2>

    <div class='flex flex-col gap-2 font-quicksand font-normal text-fuchsia-400/80 text-lg'>
        <p>Leveling game chat-bot</p>
        <p class="pl-5">∙ Designed fast and scalable architecture<br>∙ Implemented efficient algorithms for score system<br>∙ Created user-friendly and intuitive experience</p>
    </div>
</div>