<div class='flex flex-col gap-4 px-5 md:px-10 py-4 md:py-8 border border-teal-400/60 bg-teal-400/5 rounded-md'>
    <h1 class='font-pixel font-semibold text-teal-500 text-4xl items-center'>
        Library <br class='md:hidden' />
        <span class='font-inter font-normal text-lg border border-teal-400/60 bg-teal-400/5 rounded-full px-2 py-0.5'
            >Early development
        </span>
    </h1>
    <p class='font-inter font-normal text-teal-500/80 text-lg'>
        Blazingly fast library for your documents. Built-in tools for variety type of documents. Designed for
        individuals who appreciate good experience.
    </p>
</div>
