<div
    class='flex flex-col basis-3/5 gap-4 px-5 md:px-10 py-4 md:py-8 border border-fuchsia-500/60 bg-fuchsia-500/5 lg:bg-guessomania lg:bg-cover rounded-md'
>
    <h2 class='font-general font-semibold text-fuchsia-500 text-4xl'>Guessomania</h2>

    <div class='flex flex-col gap-2 font-quicksand font-normal text-fuchsia-500/80 text-lg'>
        <p>Game bot based on board game known as 'Alias'</p>
        <p class="pl-5">∙ Designed scalable and efficient architecture<br>∙ Created system for getting new game data<br>∙ Created user friendly and intuitive experience</p>
    </div>
</div>