<div
  class="basis-1/2 flex flex-col gap-2 px-5 py-4 md:px-10 md:py-8 border border-orange-400/60 bg-orange-400/5 rounded-md"
>
  <h2 class="text-orange-500 text-4xl font-bold font-pixel">Mafia Bot</h2>
  <p class="text-orange-500/80 text-lg font-normal font-roboto">
    Mafia, discord bot. Advanced mafia game manager to help the host to automate
    and moderate mafia games. Amazing dashboard build in discord with most
    useful automated functions to control the game.
  </p>
</div>
