<div
    class='flex flex-col basis-1/2 lg:basis-2/5 gap-4 px-5 md:px-10 py-4 md:py-8 border border-lime-500/60 bg-lime-500/5 lg:bg-cards bg-cover rounded-md'
>
    <h2 class='font-pixel font-semibold text-lime-500 text-4xl'>Mafia Bot</h2>
    <p class='font-inter font-normal text-lime-500/80 text-lg'>
        A specialised discord bot designed to augment collective mafia game. It comprises automated moderation and
        functionality to facilitate the game.
    </p>
</div>
