<div
    class='flex flex-col basis-3/5 gap-4 px-5 md:px-10 py-4 md:py-8 border border-sky-500/60 bg-sky-500/5 lg:bg-noir lg:bg-cover rounded-md'
>
<!-- lg:bg-noir -->
    <h1 class='font-general font-semibold text-sky-500 text-4xl'>Noir</h1>
    <div class='flex flex-col gap-2 font-quicksand font-normal text-sky-500/80 text-lg'>
        <p>User-friendly and highly customizable Discord bot specialized to make moderation easier and powerful.</p>
        <p class="pl-5">∙ Wrote maintainable and scalable code<br>∙ Used external and created custom APIs<br>∙ Used relational databases<br>∙ Implemented custom algorithms for moderation</p>
    </div>
</div>
