<div class='flex flex-col gap-4 px-5 md:px-10 py-4 md:py-8 border border-cyan-400/60 bg-cyan-400/5 rounded-md'>
  <h1 class='font-pixel font-semibold text-cyan-500 text-4xl'>Noir</h1>
  <p class='font-roboto font-normal text-cyan-500/80 text-lg'>
    Noir is a brand-new idea. The main purpose is creating several programs under one big name. Presently it is
    concentrated on games, websites and discord bots. Still in development for more information contact me.
  </p>
</div>
