<div class='flex flex-col gap-4 px-5 md:px-10 py-4 md:py-8 border border-cyan-500/60 bg-cyan-500/5 lg:bg-polydas lg:bg-cover rounded-md'>
    <h1 class='font-general font-semibold text-cyan-500 text-4xl items-center'>
        Polydash
    </h1>
    <div class='flex flex-col gap-2 font-quicksand font-normal text-cyan-500/80 text-lg'>
        <p>Telegram bot for Armenian national polytechnic university's students.</p>
        <p class="pl-5">∙ Developed features to retrieve information based on date<br>∙ Developed automatic scheduled actions</p>
    </div>
</div>