---
import Editor from './Editor.astro'
import Mafia from './Mafia.astro'
import Noir from './Noir.astro'
---

<div class='flex flex-col lg:flex-row lg:items-stretch gap-4'>
    <Mafia />
    <div class='flex flex-col gap-4 basis-auto'>
        <Noir />
        <Editor />
    </div>
</div>
