---
import Polydash from './Polydash.astro'
import ProjectA from './ProjectA.astro'
import Noir from './Noir.astro'
import Guessomania from './Guessomania.astro';
import Catk from './Catk.astro';
---

<div class="flex flex-col gap-4">
    <div class='flex flex-col lg:flex-row lg:items-stretch gap-4'>
        <Noir />
        <ProjectA />
    </div>
    <div>
        <Polydash />
    </div>
    <div class="flex flex-col lg:flex-row lg:items-stretch gap-4">
        <Catk />
        <Guessomania />
    </div>
</div>
