<div class='flex flex-col basis-1/2 gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'>
  <h2 class='font-pixel font-semibold text-white text-4xl'>About me</h2>
  <p class='font-roboto font-normal text-white/80 text-lg'>
    My name is Samvel, I am 17 years old developer from Armenia. Working with full stack apps, advanced discord bots and
    other web related projects. Pasionate about new things, ready to quickly learn and work with new technologies.
    Always ready for new communications and would love to work with an team and collaborate with others. Currently
    improving my backend skills. Checkout my <a href='https://github.com/loidnoir' class='hover:text-white'>GitHub</a> for
    projects I am working on.
  </p>
</div>
