<div class='flex flex-col basis-1/2 gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'>
    <h2 class='font-general font-bold text-white text-4xl'>About</h2>
    <p class='font-quicksand font-normale text-white/60 text-lg'>
        Hello, I am Samvel, software engineer specializing in the development of advanced and scalable applications. I prioritize writing efficient and maintainable code. I have a deep appreciation for continuous learning, and I find great joy in collaborating with fellow developers. Currently, I am actively engaged in a machine learning project.
    </p>
</div>
