<div class='flex flex-col basis-1/2 gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'>
    <h2 class='font-pixel font-semibold text-white text-4xl'>About me</h2>
    <p class='font-inter font-normal text-white/60 text-lg'>
        My name is Samvel, Software Engineer from Armenia. Working with full stack apps, advanced Discord bots and other
        web related projects. Passionate about new technologies, ready to quickly learn and work with other developers.
        Always ready for new communications and would love to collaborate. Check out my <a
            href='https://github.com/loidnoir'
            class='text-white/90'
            >GitHub
        </a> for the projects I am working on.
    </p>
</div>
