---
import Icon from 'astro-icon'

let count = 0
interface technologie {
    name: string
    icon: string
    color: string
}

const technologies: technologie[][] = [
    [
        {
            name: 'Python',
            color: 'hover:text-blue-400',
            icon: 'akar-icons:python-fill',
        },
        {
            name: 'TypeScript',
            color: 'hover:text-sky-500',
            icon: 'simple-icons:typescript',
        },
        {
            name: 'JavaScript',
            color: 'hover:text-yellow-400',
            icon: 'simple-icons:javascript',
        },
        {
            name: 'Docker',
            color: 'hover:text-sky-500',
            icon: 'cib:docker',
        }
    ],
    [
        {
            name: 'React',
            color: 'hover:text-sky-400',
            icon: 'akar-icons:react-fill',
        },
        {
            name: 'Next',
            color: 'hover:text-white',
            icon: 'akar-icons:nextjs-fill',
        },
        {
            name: 'Astro',
            color: 'hover:text-red-500',
            icon: 'simple-icons:astro',
        },
        {
            name: 'Tailwind',
            color: 'hover:text-cyan-400',
            icon: 'simple-icons:tailwindcss',
        }
    ],
    [
        {
            name: 'Prisma',
            color: 'hover:text-white',
            icon: 'file-icons:prisma',
        },
        {
            name: 'MongoDB',
            color: 'hover:text-green-500',
            icon: 'cib:mongodb',
        },
        {
            name: 'Postgres',
            color: 'hover:text-blue-400',
            icon: 'cib:postgresql',
        },
        {
            name: 'Redis',
            color: 'hover:text-red-500',
            icon: 'cib:redis',
        }
    ],
    [
        {
            name: 'Photoshop',
            color: 'hover:text-sky-500',
            icon: 'simple-icons:adobephotoshop',
        },
        {
            name: 'Illustrator',
            color: 'hover:text-orange-600',
            icon: 'simple-icons:adobeillustrator',
        },
        {
            name: 'Unreal Engine',
            color: 'hover:text-white',
            icon: 'mdi:unreal-engine',
        }
    ],
]
---

<div class='flex flex-col basis-1/2 gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'>
    <!-- <h1 class='font-pixel font-semibold text-white text-2xl sm:text-4xl'>Skills</h1> -->
    <div class='flex flex-col md:flex-row justify-between gap-4 font-quicksand font-medium text-white/60 text-base'>
        {
            technologies.map((technologieGroup) => {
                count++

                return (
                    <ul class='flex flex-col gap-2 md:basis-1/2'>
                        {technologieGroup.map((technologie) => {
                            return (
                                <li class={`flex gap-2 ${technologie.color} hover:cursor-pointer`}>
                                    <Icon width='20px' name={technologie.icon} />
                                    <p>{technologie.name}</p>
                                </li>
                            )
                        })}
                        <hr class={`block md:hidden opacity-30 ${count == 4 ? 'hidden' : ''}`} />
                    </ul>
                )
            })
        }
    </div>
    <p class='font-quicksand font-normal text-white/60 text-lg italic'>
        Some of the technologies I use
    </p>
</div>
