<div class='flex justify-start basis-full gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'>
    <img src='/avatar.png' alt='avatar' class='w-20 md:w-28 rounded-lg object-contain' />

    <div class='flex flex-col gap-4 justify-center'>

        <h1 class='font-general font-semibold text-gray-50 text-lg md:text-4xl lg:text-5xl'>Samvel Petrosyan</h1>
        
        <div class='flex flex-col md:gap-2 gap-1 font-quicksand font-medium text-white/60 text-sm lg:text-lg'>
            <div class='flex flex-col sm:flex-row md:gap-2 gap-1'>
                <h1 class='border border-white/60 text-center bg-gray-600/20 p-0.5 px-2 rounded-md'>
                    software engineer
                </h1>
                <h1 class='border border-white/60 text-center bg-gray-600/20 p-0.5 px-2 rounded-md'>
                    loidnoir@gmail.com
                </h1>
            </div>
        </div>

    </div>
</div>
