<div
  class='flex justify-start basis-full gap-4 px-5 md:px-10 py-4 md:py-8 border border-white/60 bg-white/5 rounded-md'
>
  <img src='/avatar.svg' alt='avatar' class='w-16 md:w-28' />
  <div class='flex flex-col'>
    <h1 class='font-roboto font-semibold text-white text-lg md:text-4xl'>Samvel Petrosyan</h1>
    <h1 class='font-roboto font-medium text-white/80 text-sm md:text-xl'>Software Engineer / Graphic Designer</h1>
    <h1 class='font-roboto font-normal text-white/60 text-sm md:text-lg'>loidnoir@gmail.com</h1>
  </div>
</div>
