<div
  class="flex flex-col basis-1/2 gap-2 px-5 py-4 md:px-10 md:py-8 border border-white/60 bg-white/5 rounded-md"
>
  <h2 class="text-white text-4xl font-bold font-roboto">About me</h2>
  <p class="text-white/80 text-lg font-normal font-roboto">
    Hello and welcome my name is Samvel, I'm 17 years old fast learner software
    developer from Armenia. In most of my project I use TypeScript, I code
    discord bots, web services and other stuff. I like to work on UI and UX,
    always searching for new or improved solutions. Currently learning
    java/kotlin to make even cooler stuff. Contact me for any question, always
    happy for new people. I can talk in 3 languages Armenian, English and
    Russian.
  </p>
</div>
