<div class='flex flex-col gap-4 px-4 py-2 border border-white/60 bg-white/5 rounded-md'>
    <h2 class='font-inter font-normal text-white/60 text-sm'>
        Created with {'<3'}, source
        <a class='hover:text-white/80' href='https://github.com/loidnoir/my-website' target='_blank'>here</a>
    </h2>
</div>
