---
import { Icon } from 'astro-icon'
---

<div
  class="flex flex-row justify-evenly md:flex-col gap-4 px-5 py-4 md:px-10 md:py-8 border border-white/60 bg-white/5 rounded-md text-white/70 text-xs md:text-lg font-pixel"
>
  <a
    href="https://discordapp.com/users/690728155052245072"
    class="flex flex-row gap-2 hover:text-white/90 cursor-pointer"
    target="_blank"
  >
    <Icon width="20px" name="akar-icons:discord-fill" />
    <p class="hidden md:block">Loid#1241</p>
  </a>
  <a
    href="https://github.com/loidnoir"
    class="flex flex-row gap-2 hover:text-white/90 cursor-pointer"
    target="_blank"
  >
    <Icon width="20px" name="akar-icons:github-fill" />
    <p class="hidden md:block">LoidNoir</p>
  </a>
  <a
    href="https://linked.in/loid"
    class="flex flex-row gap-2 hover:text-white/90 cursor-pointer"
    target="_blank"
  >
    <Icon width="20px" name="akar-icons:linkedin-fill" />
    <p class="hidden md:block">linked.in/loid</p>
  </a>
</div>
