<div
  class="flex basis-full justify-start gap-4 px-5 py-4 md:px-10 md:py-8 border border-white/60 bg-white/5 rounded-md"
>
  <img src="/avatar.svg" alt="avatar" class="w-16 sm:w-20 lg:w-24" />
  <div class="flex flex-col">
    <h1 class="text-2xl md:text-4xl text-white font-roboto font-bold">
      Samvel Petrosyan
    </h1>
    <h2 class="text-sm md:text-xl text-white font-pixel opacity-80">
      Software Engineer / Graphic Designer
    </h2>
    <a
      href="https://mailto:loidnoir@gmail.com/"
      class="text-sm md:text-lg text-white font-medium opacity-50"
      target="_blank"
    >
      loidnoir@gmail.com
    </a>
  </div>
</div>
